# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Ignore compiled files
*.class
*.log

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local environment variables
.env
application.properties
